
.tab {
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
}

caption {
    margin: 10%;
    font-size: 30px;
}

th, td {
    vertical-align: middle;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    padding: 15px;
}

button {
    border: 3px solid whitesmoke;
    border-radius: 5px;

    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;

    width: 200px;
    height: 50px;
}

button a {
    text-decoration: none;
    margin: 10%;
}